<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @register.Name %>
</p>

<p>
  <strong>BloodGroup:</strong>
  <%= @register.BloodGroup %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @register.Phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @register.Address %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
