<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :blood_group, collection: ['A+','A-','B+','B-','AB+','AB-','O+','O-'] %>
  <%= f.input :address, as: :text %>
  <%= f.input :password, input_html: { minlength: 6 } %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>

<%= render "devise/shared/links" %>
