<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <li><%= link_to "Home", root_path, :id=>"open-contacts-dialog-btn", :class => "btn btn-info" %></li>
    <li><%= link_to "About", static_pages_about_path, :id=>"open-contacts-dialog-btn", :class => "btn btn-info" %></li>
    <li><%= link_to "Contact", static_pages_contact_path, :id=>"open-contacts-dialog-btn", :class => "btn btn-info" %></li>
    <li><%= link_to "Settings", edit_user_registration_path, :id=>"open-contacts-dialog-btn", :class => "btn btn-success" %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :id=>"open-contacts-dialog-btn", :method => :delete, :class => "btn btn-danger" %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path, :id=>"open-contacts-dialog-btn", :class => "btn btn-success" %></li>
    <li><%= link_to "Sign up", new_user_registration_path, :id=>"open-contacts-dialog-btn", :class => "btn btn-success" %></li>
  <% end %>
</ul>
