<!DOCTYPE html>
<html>
  <head>
    <title>BloodApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <script>

  </script>
  <body>

  <div class="container-narrow">
    <div class="masthead">
    <%= render 'layouts/user_header' %>
    <%= image_tag("logos/logo.jpg", width: "300px")%>
    <h1 style="color:red;margin-top:-100px"><center>Bharat Red Cross</center></h1>
    <h5 style="color:black"><center>Donate Blood, Save Life!</center></h5>
    </div>
  </div>
  <br/>
  <hr/>
  <%= render partial: 'layouts/messages' %>
  <div>
    <%= yield %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
  </div>
 </body>
</html>
